.center{
    font-family: 'Archivo', sans-serif;
    width: 950px;
    margin: 0 auto;
}
nav>ul>li{
    display: inline-block;
    width:70px;
    text-align: center;
    margin-left: 10px;
    color: white;
    font-size: 10px;
    font-weight: 800;
    padding: 15px 0px;
    background-color: #222931;
}
.not{
    margin-left: 0px;
}
nav>ul{
    position: relative;
    padding:0px;
    margin: 0px;
    margin-top: 10px;
    background-color: #222931;
}
nav{
    width: 950px;
    position: relative;
    top: 0;
}
.uitklap-menu{
    display: none;
    list-style-type: none;
    position: absolute;
    top: 30px;
    width: 70px;
    left: 44px;
    padding-right: 10px;
}
.uitklap-menu>li{
    background-color: #222931;
    font-size: 10px;
    padding: 10px 0px;
    padding-left: 4px;
    padding-right: 100px;
}
.uitklap-menu>li>a{
    font-size: 10px;
    font-weight: 800;
    color: white;
    text-decoration: none;
}
.uitklap-item:hover > .uitklap-menu{
    display: block;
}
.uitklap-item:hover{
    background-color: #ffe718;
    color: #222931;
}
.uitklap-item>ul>li:hover{
    background-color: #ffe718;
}
.uitklap-item>ul>li:hover>a{
    color: #222931;
}
.logo{
    margin-top: 10px;
    margin-left: 10px;
}
#header{
    position: relative;
    bottom: 10px;
    height: 500px;
    width: 100%;
    z-index: -1;
}
.banner{
    display: inline-block;
    width: 1100px;
    padding: 0;
    padding-top: 10px;
}
div>.banner>li{
    display: inline-block;
    margin-left: 10px;
    height: 220px;
}
div>.banner>:nth-child(1){
    margin-left: 0;
    height: 220px;
}
.Y-block{
    display: block;
    padding: 20px 0;
    background-color: #ffe718;
}
.Y-block>.one{
    margin-left: 250px;
    padding: 0;
}