*{
    font-family: 'Archivo', sans-serif;
    margin: 0;
}
.center{
    width: 950px;
    margin: 0 auto;
}
nav>ul>li{
    display: inline-block;
    width:70px;
    text-align: center;
    margin-left: 10px;
    color: white;
    font-size: 10px;
    font-weight: 800;
    padding: 15px 0px;
    background-color: #222931;
}
.not{
    margin-left: 0px;
}
nav>ul{
    position: relative;
    padding:0px;
    margin: 0px;
    margin-top: 10px;
    background-color: #222931;
}
nav{
    width: 950px;
    position: relative;
    top: 0;
    z-index: 1;
}
.uitklap-menu{
    display: none;
    list-style-type: none;
    position: absolute;
    top: 41px;
    width: 70px;
    left: 44px;
    padding-right: 10px;
}
.uitklap-menu>li{
    background-color: #222931;
    font-size: 10px;
    padding: 12px 0px;
    padding-left: 4px;
    padding-right: 100px;
}
.uitklap-menu>li>a{
    font-size: 10px;
    font-weight: 800;
    color: white;
    text-decoration: none;
}
.uitklap-item:hover > .uitklap-menu{
    display: block;
}
.uitklap-item:hover{
    background-color: #ffe718;
    color: #222931;
}
.uitklap-item>ul>li:hover{
    background-color: #ffe718;
}
.uitklap-item>ul>li:hover>a{
    color: #222931;
}
.logo{
    margin-top: 10px;
    margin-left: 10px;
}
#header{
    position: relative;
    bottom: 10px;
    height: 80%;
    width: 100%;
}
.banner{
    display: inline-block;
    width: 1100px;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 30px;
}
div>.banner>li{
    display: inline-block;
    margin-left: 10px;
    height: 220px;
}
div>.banner>:nth-child(1){
    margin-left: 0;
    height: 220px;
}
.Y-block{
    padding: 20px 0;
    background-color: #ffe718;
    font-family: 'Archivo', sans-serif;
    position: relative;
}
#one{
    margin-left: 170px;
    padding: 0;
    font-size: 34px;
    font-weight: 700;
    color: #222931;
    position: relative;
}
#two{
    position: absolute;
    font-weight: 700;
    top: 35px;
    left: 555px;
}
.Y-block>a{
    position: absolute;
    font-weight: 700;
    top: 18px;
    left: 1050px;
    padding: 12px 33px;
    background-color: white;
    color: #222931;
    text-decoration: none;
}
.Y-block>a:hover{
    background-color: #222931;
    color: white;
}
#footer{
    padding-top: 50px;
    height: 100%;
    width: 100%;
}
#selection{
    list-style: none;
}
#selection>li{
    display: inline-block;
    width: 20%;
    margin-left: 30px;
}
#selection>li>div>i{
    margin-top: 20px;
    font-size: 50px;
    float: left;
    margin-left: 20px;
}
#selection>li>div>a{
    position: relative;
    text-decoration: none;
    color: #222931;
    top: 20px;
    font-size: 20px;
    padding-left: 20px;
    font-weight: 800;
}
#selection>li>div>p{
    margin-top: 22px;
    font-size: 10px;
    padding-left: 103px;
}
#selection>li>div{
    height: 85px;
    background-color: #ffe718;
}
#selection>:nth-child(1){
    margin-left: 18%;
}
#selection>:nth-child(2)>div>p,#selection>:nth-child(3)>div>p{
    padding-left: 90px;
}
#selection{
    position: relative;
    bottom: 30px;
    padding-bottom: 50px;
}
.mainText{
    border-top: lightslategray solid 1px;
    padding-top: 50px;
    margin-left: 305px;
    width: 960px;
}
.list{
    position: absolute;
    top: 1400px;
    padding-left: 40px;
    display: inline-block;
}
.list>h2{
    padding-left: 40px;
    margin-bottom: 40px;
}
.list>ul{
    list-style-type: none;
}
.list>ul>li>i{
    color: lightgray;
    display: inline-block;
    font-size: 30px;
    margin-bottom: 15px;

}
.list>ul>li>p{
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 15px;
}
#text{
    display: inline-block;
    width: 500px;
}
#text>h2{
    margin-bottom: 40px;
}
.footer{
    margin-top: 50px;
    height: 55px;
    background-color: #222931;
}
.footer>p{
    display: inline-block;
    position: relative;
    top: 20px;
    left: 1150px;
    color: white;
}